</div>
<footer id="footer">
    <a href="https://github.com/bibanon/ayase" target="_blank">FoolFuuka template for Ayase</a> - <a href="http://github.com/eksopl/asagi" target="_blank">Asagi Fetcher</a>
    <div class="pull-right">
        <div class="btn-group dropup pull-right">
            <a href="#" class="btn btn-inverse btn-mini dropup-toggle" data-toggle="dropdown">
                Change Theme <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for skin in skins %}
                <li>
                    <a href="/_/change_skin/{{ skin.slug }}/">{{ skin.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="/static/jquery.js"><\/script>');

    var backend_vars = {"user_name":false,"user_email":false,"user_pass":"","site_url":"\/","default_url":"\/","archive_url":"\/","system_url":"\/","api_url":"\/","cookie_domain":null,"cookie_prefix":"ayase_","selected_theme":"foolz\/foolfuuka-theme-{{ skin }}","csrf_token_key":"csrf_token","images":{"banned_image":"\/static\/images\/banned-image.png","banned_image_width":150,"banned_image_height":150,"missing_image":"\/static\/images\/missing-image.jpg","missing_image_width":150,"missing_image_height":150},"gettext":{"submit_state":"Submitting","thread_is_real_time":"This thread is being displayed in real time.","update_now":"Update now","ghost_mode":"This thread has entered ghost mode. Your reply will be marked as a ghost post and will only affect the ghost index."},"recaptcha2_pubkey":"{{ recaptcha2_pubkey }}"};
    var assets_directory = '/static';

</script>
<script src="/static/bootstrap.min.js"></script>
<script src="/static/board.js"></script>
<script src="/static/plugins.js"></script>

<!--[if lt IE 7 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload', function () { CFInstall.check({mode:'overlay'}) })</script>
<![endif]-->

</body>
</html>
