{% include 'header.html' %}
    <div role="main" id="main">
        <!--<div class="search_box">
            <div class="advanced_search clearfix">
                <form method="GET" action="/{{ board }}/search/">
                    <div class="comment_wrap">
                        <input name="text" id="search_form_comment" value="" placeholder="Search through all the boards" type="text">
                    </div>

                    <div class="buttons clearfix">
                        <input class="btn btn-inverse" value="Search" name="submit_search" type="submit">
                        <input class="btn btn-inverse" value="Search on all boards" name="submit_search_global" type="submit">

                        <input class="btn btn-inverse pull-right" value="Clear" name="reset" data-function="clearSearch" type="reset">
                    </div>

                    <div class="column">
                        <div class="input-prepend">
                            <label class="add-on" for="search_form_tnum">Thread No.</label>
                            <input name="tnum" id="search_form_tnum" value="" placeholder="" type="text">
                        </div>
                        <div class="input-prepend">
                            <label class="add-on" for="search_form_subject">Subject</label>
                            <input name="subject" id="search_form_subject" value="" placeholder="" type="text">
                        </div>
                        <div class="input-prepend">
                            <label class="add-on" for="search_form_username">Username</label>
                            <input name="username" id="search_form_username" value="" placeholder="" type="text">
                        </div>
                        <div class="input-prepend">
                            <label class="add-on" for="search_form_tripcode">Tripcode</label>
                            <input name="tripcode" id="search_form_tripcode" value="" placeholder="" type="text">
                        </div>
                        <div class="input-prepend">
                            <label class="add-on" for="search_form_email">Email</label>
                            <input name="email" id="search_form_email" value="" placeholder="" type="text">
                        </div>
                        <div class="input-prepend">
                            <label class="add-on" for="search_form_uid">Unique ID</label>
                            <input name="uid" id="search_form_uid" value="" placeholder="" type="text">
                        </div>
                        <div class="input-prepend">
                            <label class="add-on" for="search_form_filename">Filename</label>
                            <input name="filename" id="search_form_filename" value="" placeholder="" type="text">
                        </div>
                        <div class="input-prepend">
                            <label class="add-on" for="search_form_image">Image Hash</label>
                            <input name="image" id="search_form_image" value="" placeholder="Drop your image here" type="text">
                        </div>
                        <div class="input-prepend">
                            <label class="add-on" for="search_form_width">Image Width</label>
                            <input name="width" id="search_form_width" value="" placeholder="" type="text">
                        </div>
                        <div class="input-prepend">
                            <label class="add-on" for="search_form_height">Image Height</label>
                            <input name="height" id="search_form_height" value="" placeholder="" type="text">
                        </div>
                        <div class="input-prepend">
                            <label class="add-on" for="search_form_tag">File Tag</label>
                            <input name="tag" id="search_form_tag" value="" placeholder="" type="text">
                        </div>
                        <div class="input-prepend">
                            <label class="add-on" for="search_form_since4pass">Since4pass</label>
                            <input name="since4pass" id="search_form_since4pass" value="" placeholder="" type="text">
                        </div>
                        <div class="input-prepend">
                            <label class="add-on" for="search_form_country">Country</label>
                            <input name="country" id="search_form_country" value="" placeholder="" type="text">
                        </div>
                        <div class="input-prepend">
                        <label class="add-on" for="search_form_troll_country">Troll Country</label>
                            <input name="troll_country" id="search_form_troll_country" value="" placeholder="" type="text">
                        </div>
                        <div class="input-prepend">
                        <label class="add-on" for="search_form_start">Date Start</label>
                            <input type="text" name="start" placeholder="YYYY-MM-DD" autocomplete="off" value="">
                        </div>
                        <div class="input-prepend">
                            <label class="add-on" for="search_form_end">Date End</label>
                            <input type="text" name="end" placeholder="YYYY-MM-DD" autocomplete="off" value="">
                        </div>
                        <label>
                            <input data-function="searchhilight" class="searchhilight" type="checkbox"> Highlight Results</label>

                        <div class="radixes">
                            <div>
                                <div><h5>On these archives</h5>
                                    <button type="button" data-function="checkAll" class="btn btn-mini pull-right check" style="display:none">Check all</button>
                                    <button type="button" data-function="uncheckAll" class="btn btn-mini pull-right uncheck" style="display:block">Uncheck all</button>
                                </div>
                                {% for archive in archives %}
                                <label><input type="checkbox" name="boards[]" value="{{ archive.shortname }}" checked="checked"> /{{ archive.shortname }}/</label>
                                {% endfor %}
                            </div>
                            <div style="clear:left; padding-top: 10px">
                                <div>
                                    <h5>On these boards</h5>
                                    <button type="button" data-function="checkAll" class="btn btn-mini pull-right check" style="display:none">Check all</button>
                                    <button type="button" data-function="uncheckAll" class="btn btn-mini pull-right uncheck" style="display:block">Uncheck all</button>
                                </div>
                                {% for board in boards %}
                                <label><input type="checkbox" name="boards[]" value="{{ board.shortname }}" checked="checked"> /{{ board.shortname }}/</label>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="latest_searches">
                            <div>
                                <h5>Your latest searches</h5>
                                <button type="button" data-function="clearLatestSearches" class="btn btn-mini pull-right">Clear</button>
                            </div>
                            <ul>
                            </ul>
                        </div>
                    </div>
                    <div class="column checkboxes"><table class="table"><tbody>
                    <tr><td>Capcode</td><td>
                        <label><input type="radio" name="capcode" value="" checked="checked">All</label>
                        <label><input type="radio" name="capcode" value="user">Only User Posts</label>
                        <label><input type="radio" name="capcode" value="ver">Only Verified Posts</label>
                        <label><input type="radio" name="capcode" value="mod">Only Moderator Posts</label>
                        <label><input type="radio" name="capcode" value="manager">Only Manager Posts</label>
                        <label><input type="radio" name="capcode" value="admin">Only Admin Posts</label>
                        <label><input type="radio" name="capcode" value="dev">Only Developer Posts</label>
                        <label><input type="radio" name="capcode" value="founder">Only Founder Posts</label>
                    </td></tr>
                    <tr><td>Show Posts</td><td>
                        <label><input type="radio" name="filter" value="" checked="checked">All</label>
                        <label><input type="radio" name="filter" value="text">Only With Images</label>
                        <label><input type="radio" name="filter" value="image">Only Without Images</label>
                        <label><input type="radio" name="filter" value="spoiler">Only Spoiler Images</label>
                        <label><input type="radio" name="filter" value="not-spoiler">Only Non-Spoiler Images</label>
                    </td></tr>
                    <tr><td>Deleted Posts</td><td>
                        <label><input type="radio" name="deleted" value="" checked="checked">All</label>
                        <label><input type="radio" name="deleted" value="deleted">Only Deleted Posts</label>
                        <label><input type="radio" name="deleted" value="not-deleted">Only Non-Deleted Posts</label>
                    </td></tr>
                    <tr><td>Ghost Posts</td><td>
                        <label><input type="radio" name="ghost" value="" checked="checked">All</label>
                        <label><input type="radio" name="ghost" value="only">Only Ghost Posts</label>
                        <label><input type="radio" name="ghost" value="none">Only Non-Ghost Posts</label>
                    </td></tr>
                    <tr><td>Post Type</td><td>
                        <label><input type="radio" name="type" value="" checked="checked">All</label>
                        <label><input type="radio" name="type" value="sticky">Only Sticky Threads</label>
                        <label><input type="radio" name="type" value="op">Only Opening Posts</label>
                        <label><input type="radio" name="type" value="posts">Only Reply Posts</label>
                    </td></tr>
                    <tr><td>Results</td><td>
                        <label><input type="radio" name="results" value="" checked="checked">All</label>
                        <label><input type="radio" name="results" value="thread">Grouped By Threads</label>
                    </td></tr>
                    <tr><td>Order</td><td>
                        <label><input type="radio" name="order" value="" checked="checked">Latest Posts First</label>
                        <label><input type="radio" name="order" value="asc">Oldest Posts First</label>
                    </td></tr></tbody></table></div>
                </form>
            </div>
        </div>-->

        <div class="board">
            {% for i in threads %}
            {% set thread = i['posts'] %}
            {% set op = thread[0] %}
            <article class="clearfix thread post_is_op {% if op.md5 %}has_image{% endif %}" id="p{{ op.no }}" data-board="{{ board }}" data-thread-num="{{ op.no }}">
                {% if op.md5 %}
            <div class="thread_image_box">
                <a href="/img/{{ board }}/{{ op.tim }}{{ op.ext }}" target="_blank" rel="noreferrer" class="thread_image_link">
                    {% if op.asagi_preview_filename %}
                        <img src="/img/{{ board }}/thumb/{{ (op.asagi_preview_filename|string)[0:4] }}/{{ (op.asagi_preview_filename|string)[4:6] }}/{{ op.asagi_preview_filename}}" width="{{ op.tn_w }}" height="{{ op.tn_h }}" class="post_image{% if op.spoiler %} is_spoiler_image{% endif %}" data-md5="{{ op.md5 }}" />
                    {% else %}
                        <img src="/img/{{ board }}/thumb/{{ (op.tim|string)[0:4] }}/{{ (op.tim|string)[4:6] }}/{{ op.tim }}s.jpg" width="{{ op.tn_w }}" height="{{ op.tn_h }}" class="post_image{% if op.spoiler %} is_spoiler_image{% endif %}" data-md5="{{ op.md5 }}" />
                    {% endif %}
                </a>

                <div class="post_file" style="padding-left: 2px;{% if op.tn_w > 149 %} max-width: {{ op.tn_w }}px;{% endif %}">
                    {{ op.fsize }}, {{ op.w }}x{{ op.h }}, <a class="post_file_filename" href="/img/{{ board }}/{{ op.tim }}{{ op.ext }}" target="_blank">{{ op.filename }}{{ op.ext }}</a>
                </div>

                <div class="post_file_controls">
                    <!--<a href="/{{ board }}/search/image/{{ op.md5 }}"
                       class="btnr parent">View Same</a>-->
                    <a href="http://www.google.com/searchbyimage?image_url=https%3A%2F%2Fi.4cdn.org%2F{{ board }}%2F{{ op.tim }}s.jpg" target="_blank"
                        class="btnr parent">Google</a>
                    <a href="http://imgops.com/https%3A%2F%2Fi.4cdn.org%2F{{ board }}%2F{{ op.tim }}s.jpg" target="_blank"
                        class="btnr parent">ImgOps</a>
                    <a href="http://iqdb.org/?url=https%3A%2F%2Fi.4cdn.org%2F{{ board }}%2F{{ op.tim }}s.jpg" target="_blank"
                        class="btnr parent">iqdb</a>
                    <a href="http://saucenao.com/search.php?url=https%3A%2F%2Fi.4cdn.org%2F{{ board }}%2F{{ op.tim }}s.jpg" target="_blank"
                        class="btnr parent">SauceNAO</a>
                    <a href="/img/{{ board }}/{{ op.tim }}{{ op.ext }}" download="{{ op.filename }}"
                        class="btnr parent"><i class="icon-download-alt"></i></a>
                </div>
            </div>
            {% endif %}
            <header>
                <div class="post_data">
                    <div class="post_mobile_controls_collapse dropdown">
                        <button data-toggle="dropdown" class="btnr parent"><i class="icon-th-list"></i></button>
                        <ul class="dropdown-menu" role="menu">
                            <li class="nav-header">Thread</li>
                            <li><a href="/{{ board }}/thread/{{ op.no }}">Reply</a></li>
                            <li><a href="//boards.4chan.org/{{ board }}/thread/{{ op.no }}">Original</a></li>
                            <!--<li><a href="#" data-post-id="{{ op.no }}" data-board="{{ board }}" data-controls-modal="post_tools_modal" data-backdrop="true" data-keyboard="true" data-function="report">Report</a></li>
                            <li><a href="#" data-post-id="{{ op.no }}" data-board="{{ board }}" data-controls-modal="post_tools_modal" data-backdrop="true" data-keyboard="true" data-function="delete">Delete</a></li>-->
                            {% if op.md5 %}
                            <li class="divider"></li>
                            <li class="nav-header">Media</li>
                            <!--<li><a href="/{{ board }}/search/image/{{ op.md5 }}">View Same</a></li>-->
                            <li><a href="http://www.google.com/searchbyimage?image_url=https%3A%2F%2Fi.4cdn.org%2F{{ board }}%2F{{ op.tim }}s.jpg" target="_blank">Google</a></li>
                            <li><a href="http://imgops.com/https%3A%2F%2Fi.4cdn.org%2F{{ board }}%2F{{ op.tim }}s.jpg" target="_blank">ImgOps</a></li>
                            <li><a href="http://iqdb.org/?url=https%3A%2F%2Fi.4cdn.org%2F{{ board }}%2F{{ op.tim }}s.jpg" target="_blank">iqdb</a></li>
                            <li><a href="http://saucenao.com/search.php?url=https%3A%2F%2Fi.4cdn.org%2F{{ board }}%2F{{ op.tim }}s.jpg" target="_blank">SauceNAO</a></li>
                            <li><a href="/img/{{ board }}/{{ op.tim }}{{ op.ext }}" download="{{ op.filename }}">
                                <i class="icon-download-alt"></i> Download</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <!--<span class="post_show_board">/{{ board }}/</span>-->

                    <h2 class="post_title">{{ op.sub|safe }}</h2>
                    <span class="post_poster_data">
                        {% if op.email and op.email != 'noko' %}<a href="mailto:{{ op.email }}">{% endif %}<span class="post_author">{{ op.name }}</span><span class="post_tripcode">{{ op.tripcode }}</span>{% if op.email and op.email != 'noko' %}</a>{% endif %}

                        {% if op.id %}<span class="poster_hash">ID:{{ op.id }}</span>{% endif %}
                        {% if op.capcode == 'mod' %}<span class="post_level post_level_moderator">## Mod</span>{% endif %}
                        {% if op.capcode == 'admin' %}<span class="post_level post_level_administrator">## Admin</span>{% endif %}
                        {% if op.capcode == 'developer' %}<span class="post_level post_level_developer">## Developer</span>{% endif %}
                        {% if op.capcode == 'verified' %}<span class="post_level post_level_verified">## Verified</span>{% endif %}
                        {% if op.capcode == 'founder' %}<span class="post_level post_level_founder">## Founder</span>{% endif %}
                        {% if op.capcode == 'manager' %}<span class="post_level post_level_manager">## Manager</span>{% endif %}
                        </span>
                    <span class="time_wrap">
                        <time datetime="{{ op.time }}" title="4chan Time: {{ op.now }}">{{ op.now }}</time>
                    </span>
                    <a href="/{{ board }}/thread/{{ op.no }}" data-post="{{ op.no }}" data-function="highlight" title="Link to this post">No.</a><a href="/{{ board }}/thread/{{ op.no }}" data-post="{{ op.no }}" data-function="quote" title="Reply to this post" class="isOp">{{ op.no }}</a>

                    <span class="post_type">
                        {% if op.since4pass %}<i class="icon-tag" title="Pass user since {{ op.since4pass }}."></i>{% endif %}
                        {% if op.country %}<span title="{{ op.country_name }}" class="flag flag-{{ op.country|lower }}"></span>{% endif %}
                        {% if op.troll_country %}<span title="{{ op.country_name }}" class="flag-pol2 flag-{{ op.troll_country|lower }}"></span>{% endif %}
                        {% if op.spoiler %}<i class="icon-eye-close" title="The image in this post has been marked spoiler."></i>{% endif %}
                        {% if op.deleted and not op.timestamp_expired %}<i class="icon-trash" title="This post was prematurely deleted."></i>{% endif %}
                        {% if op.deleted and op.timestamp_expired %}<i class="icon-trash" title="This post was deleted on {{ op.timestamp_expired }}."></i>{% endif %}
                        {% if op.sticky %}<i class="icon-pushpin" title="This thread has been stickied."></i>{% endif %}
                        {% if op.locked %}<i class="icon-lock" title="This thread has been locked."></i>{% endif %}
                        </span>
                    <span class="mobile_view"><a href="/{{ board }}/thread/{{ op.no }}" class="btnr parent">View</a></span>
                    <span class="mobile_bulk"></span>
                    <span class="post_controls">
                        <a href="/{{ board }}/thread/{{ op.no }}" class="btnr parent">View</a>
                        <a href="/{{ board }}/thread/{{ op.no }}" class="btnr parent">Reply</a>
                        <a href="//boards.4chan.org/{{ board }}/thread/{{ op.no }}" class="btnr parent">Original</a>
                        <!--<a href="#" class="btnr parent" data-post-id="{{ op.no }}" data-board="{{ board }}" data-controls-modal="post_tools_modal" data-backdrop="true" data-keyboard="true" data-function="report">Report</a>
                        <a href="#" class="btnr parent" data-post-id="{{ op.no }}" data-board="{{ board }}" data-controls-modal="post_tools_modal" data-backdrop="true" data-keyboard="true" data-function="delete">Delete</a>-->
                    </span>
                </div>
            </header>
            <div class="backlink_list is_op" style="display: block;">
            </div>
            <div class="text">
                {{ op.com|safe }}
            </div>
            <div class="thread_tools_bottom">
            {% if op.omitted_posts %}
            <span class="omitted">
            <a style="display:inline-block" href="/{{ board }}/thread/{{ op.no }}" data-function="expandThread" data-thread-num="{{ op.no }}">
                <i class="icon icon-resize-full"></i></a>
            <span class="omitted_text">
                <span class="omitted_posts">{{ op.omitted_posts }}</span> post{% if op.omitted_posts > 1 %}s{% endif %} omitted
                {% if op.omitted_images %}and <span class="omitted_images">{{ op.omitted_images }}</span> image{% if op.omitted_images > 1 %}s{% endif %} omitted{% endif %}
            </span>
            </span>
            {% endif %}
            </div>
            <aside class="posts">
            {% for reply in thread[1:] %}
            <article class="post {% if reply.md5 %}has_image{% endif %}" id="p{{ reply.no }}" data-board="{{ board }}" data-thread-num="{{ reply.resto }}">
                <div class="post_wrapper">
                {% if reply.md5 %}
                    <div class="post_file">
                    <span class="post_file_controls">
                        <!--<a href="/{{ board }}/search/image/{{ reply.md5 }}"
                       class="btnr parent">View Same</a>-->
                        <a href="http://www.google.com/searchbyimage?image_url=https%3A%2F%2Fi.4cdn.org%2F{{ board }}%2F{{ reply.tim }}s.jpg" target="_blank"
                           class="btnr parent">Google</a>
                        <a href="http://imgops.com/https%3A%2F%2Fi.4cdn.org%2F{{ board }}%2F{{ reply.tim }}s.jpg" target="_blank"
                           class="btnr parent">ImgOps</a>
                        <a href="http://iqdb.org/?url=https%3A%2F%2Fi.4cdn.org%2F{{ board }}%2F{{ reply.tim }}s.jpg" target="_blank"
                           class="btnr parent">iqdb</a>
                        <a href="http://saucenao.com/search.php?url=https%3A%2F%2Fi.4cdn.org%2F{{ board }}%2F{{ reply.tim }}s.jpg" target="_blank"
                           class="btnr parent">SauceNAO</a>
                        <a href="/img/{{ board }}/{{ reply.tim }}{{ reply.ext }}" download="{{ reply.filename }}"
                           class="btnr parent"><i class="icon-download-alt"></i></a>
                    </span>
                        <a href="/img/{{ board }}/{{ reply.tim }}{{ reply.ext }}" target="_blank" class="post_file_filename" rel="noreferrer">{{ reply.filename }}{{ reply.ext }}</a>,
                        <span class="post_file_metadata">{{ reply.fsize }}, {{ reply.w }}x{{ reply.h }}</span>
                    </div>
                <div class="thread_image_box">
                    <a href="/img/{{ board }}/{{ reply.tim }}{{ reply.ext }}" target="_blank" rel="noreferrer" class="thread_image_link">
                    {% if reply.asagi_preview_filename %}
                        <img src="/img/{{ board }}/thumb/{{ (reply.asagi_preview_filename|string)[0:4] }}/{{ (reply.asagi_preview_filename|string)[4:6] }}/{{ reply.asagi_preview_filename}}" width="{{ reply.tn_w }}" height="{{ reply.tn_h }}" class="post_image{% if reply.spoiler %} is_spoiler_image{% endif %}" data-md5="{{ reply.md5 }}" />
                    {% else %}
                        <img src="/img/{{ board }}/thumb/{{ (reply.tim|string)[0:4] }}/{{ (reply.tim|string)[4:6] }}/{{ reply.tim }}s.jpg" width="{{ reply.tn_w }}" height="{{ reply.tn_h }}" class="post_image{% if reply.spoiler %} is_spoiler_image{% endif %}" data-md5="{{ reply.md5 }}" />
                    {% endif %}
                    </a>
                </div>
                {% endif %}
                <header>
                    <div class="post_data">
                        <div class="post_mobile_controls_collapse dropdown">
                            <button data-toggle="dropdown" class="btnr parent"><i class="icon-th-list"></i></button>
                            <ul class="dropdown-menu" role="menu">
                                <li class="nav-header">Post</li>
                                <!--<li><a href="#" data-post-id="{{ reply.no }}" data-board="{{ board }}" data-controls-modal="post_tools_modal" data-backdrop="true" data-keyboard="true" data-function="report">Report</a></li>
                                <li><a href="#" data-post-id="{{ reply.no }}" data-board="{{ board }}" data-controls-modal="post_tools_modal" data-backdrop="true" data-keyboard="true" data-function="delete">Delete</a></li>-->
                                {% if reply.md5 %}
                                <li class="divider"></li>
                                <li class="nav-header">Media</li>
                                <!--<li><a href="/{{ board }}/search/image/{{ reply.md5 }}">View Same</a></li>-->
                                <li><a href="http://www.google.com/searchbyimage?image_url=https%3A%2F%2Fi.4cdn.org%2F{{ board }}%2F{{ reply.tim }}s.jpg" target="_blank">Google</a></li>
                                <li><a href="http://imgops.com/https%3A%2F%2Fi.4cdn.org%2F{{ board }}%2F{{ reply.tim }}s.jpg" target="_blank">ImgOps</a></li>
                                <li><a href="http://iqdb.org/?url=https%3A%2F%2Fi.4cdn.org%2F{{ board }}%2F{{ reply.tim }}s.jpg" target="_blank">iqdb</a></li>
                                <li><a href="http://saucenao.com/search.php?url=https%3A%2F%2Fi.4cdn.org%2F{{ board }}%2F{{ reply.tim }}s.jpg" target="_blank">SauceNAO</a></li>
                                <li><a href="/img/{{ board }}/{{ reply.tim }}{{ reply.ext }}" download="{{ reply.filename }}">
                                    <i class="icon-download-alt"></i> Download</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <!--<span class="post_show_board">/{{ board }}/</span>-->

                        <h2 class="post_title">{{ reply.sub|safe }}</h2>
                        <span class="post_poster_data">
                        {% if reply.email and reply.email != 'noko' %}<a href="mailto:{{ reply.email }}">{% endif %}<span class="post_author">{{ reply.name }}</span><span class="post_tripcode">{% if reply.trip %}{{ reply.trip }}{% endif %}</span>{% if reply.email and reply.email != 'noko' %}</a>{% endif %}

                        {% if reply.id %}<span class="poster_hash">ID:{{ reply.id }}</span>{% endif %}
                        {% if reply.capcode == 'mod' %}<span class="post_level post_level_moderator">## Mod</span>{% endif %}
                        {% if reply.capcode == 'admin' %}<span class="post_level post_level_administrator">## Admin</span>{% endif %}
                        {% if reply.capcode == 'developer' %}<span class="post_level post_level_developer">## Developer</span>{% endif %}
                        {% if reply.capcode == 'verified' %}<span class="post_level post_level_verified">## Verified</span>{% endif %}
                        {% if reply.capcode == 'founder' %}<span class="post_level post_level_founder">## Founder</span>{% endif %}
                        {% if reply.capcode == 'manager' %}<span class="post_level post_level_manager">## Manager</span>{% endif %}
                        </span>
                        <span class="time_wrap">
                            <time datetime="{{ reply.time }}" title="4chan Time: {{ reply.now }}">{{ reply.now }}</time>
                        </span>
                        <a href="/{{ board }}/thread/{{ reply.resto }}" data-post="{{ reply.no }}" data-function="highlight" title="Link to this post">No.</a><a href="/{{ board }}/thread/{{ reply.resto }}" data-post="{{ reply.no }}" data-function="quote" title="Reply to this post">{{ reply.no }}</a>

                        <span class="post_type">
                        {% if reply.since4pass %}<i class="icon-tag" title="Pass user since {{ reply.since4pass }}."></i>{% endif %}
                        {% if reply.country %}<span title="{{ reply.country_name }}" class="flag flag-{{ reply.country|lower }}"></span>{% endif %}
                        {% if reply.troll_country %}<span title="{{ reply.country_name }}" class="flag-pol2 flag-{{ reply.troll_country|lower }}"></span>{% endif %}
                        {% if reply.spoiler %}<i class="icon-eye-close" title="The image in this post has been marked spoiler."></i>{% endif %}
                        {% if reply.deleted and not reply.timestamp_expired %}<i class="icon-trash" title="This post was prematurely deleted."></i>{% endif %}
                        {% if reply.deleted and reply.timestamp_expired %}<i class="icon-trash" title="This post was deleted on {{ reply.timestamp_expired }}."></i>{% endif %}
                        </span>
                        <span class="mobile_view"><a href="/{{ board }}/thread/{{ reply.resto }}" class="btnr parent">View</a></span>
                        <span class="mobile_bulk"></span>
                        <!--<span class="post_controls">
                            <a href="#" class="btnr parent" data-post-id="{{ reply.no }}" data-board="{{ board }}" data-controls-modal="post_tools_modal" data-backdrop="true" data-keyboard="true" data-function="report">Report</a>
                            <a href="#" class="btnr parent" data-post-id="{{ reply.no }}" data-board="{{ board }}" data-controls-modal="post_tools_modal" data-backdrop="true" data-keyboard="true" data-function="delete">Delete</a>
                        </span>-->
                    </div>
                </header>
                {% if reply.no|string in reply.quotelinks %}
                <div class="backlink_list" style="display: block;">
                    Quoted By:
                    {% for quotelink in reply.quotelinks[reply.no|string] %}
                    <span class="post_backlink" data-post="{{ quotelink }}">
                        <a href="#p{{ quotelink }}" class="quotelink" data-function="highlight" data-backlink="true" data-board="{{ board }}" data-post="{{ quotelink }}">&gt;&gt;{{ quotelink }}</a>
                    </span>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="text">
                    {{ reply.com|safe }}
                </div>
                </div>
            </article>
                {% endfor %}
            </aside>
            </article>
            {% endfor %}
        </div>
			<div class="paginate">
					<ul>
							<li class="prev"><a href="/{{ board }}/page/{{ page_num - 1 }}/">← Previous</a></li>
							<li {% if page_num == 1 %} class="active"{% endif %}><a href="/{{ board }}/page/1/">1</a></li>
							{% for i in range(2,10) %}
							<li {% if page_num == i %} class="active"{% endif %}><a href="/{{ board }}/page/{{ i }}/">{{ i }}</a></li>
							{% endfor %}
							
							{% if page_num < 13 %}
								{% for i in range(10,15) %}
									<li {% if page_num == i %} class="active"{% endif %}><a href="/{{ board }}/page/{{ i }}/">{{ i }}</a></li>
								{% endfor %}
							{% elif page_num >= 13 %}
							<li><a href="/{{ board }}/page/10/">10</a></li>
							<li class="disabled"><span>...</span></li>
							
							
								{% for i in range(-2,3) %}
									<li {% if i==0 %} class="active"{% endif %}><a href="/{{ board }}/page/{{ page_num + i }}/">{{ page_num + i }}</a></li>
								{% endfor %}
							{% endif %}
							<li class="disabled"><span>...</span></li>
							<li class="next"><a href="/{{ board }}/page/{{ page_num + 1 }}/">Next →</a></li>
					</ul>

			</div>
			<article class="clearfix thread backlink_container">
				<div id="quotelink" style="position: absolute; top: 0; left: 0; z-index: 5;"></div>
			</article>
    </div> <!-- end of #main -->
    <div id="push"></div>
</div>
{% include 'footer.html' %}
