{% extends "base.html" %}
{% block body %}
    <div role="main" id="main">
        <div class="board">
            {% if sha256_dirs %}
                {% for post in posts %}
                    {% include 'post_sha256.html' %}
                {% endfor %}
            {% else %}
                {% for post in posts %}
                    {% include 'post.html' %}
                {% endfor %}
            {% endif %}
            </aside>
            </article>
            <article class="clearfix thread backlink_container">
                <div id="quotelink" style="position: absolute; top: 0; left: 0; z-index: 5;"></div>
            </article>
        </div>

    </div> <!-- end of #main -->
    <div id="push"></div>
</div>
{% endblock %}
