name: buildx
on:
  pull_request:
    types: [closed]
    branches: master
  push:
    branches: master
  workflow_dispatch: []

jobs:
  build-client:
    runs-on: [ubuntu-latest]
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2.3.4
      -
        name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: |
            ghcr.io/bibanon/ayase
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          buildkitd-flags: "--debug"
      -
        name: Login to GHCR
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}
      -
        name: Build
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          file: ./Dockerfile
          tags: ghcr.io/bibanon/ayase:latest
          platforms: linux/amd64
          labels: |
            ${{ steps.docker_meta.outputs.labels }}
            org.opencontainers.image.title=Ayase
            org.opencontainers.image.vendor=bibanon
      -
        name: Check manifest
        run: |
          docker buildx imagetools inspect ghcr.io/bibanon/ayase:latest
      -
        name: Inspect image
        run: |
          docker pull ghcr.io/bibanon/ayase:latest
          docker image inspect ghcr.io/bibanon/ayase:latest
